<div class="jumbotron">
  <h1>Contact Us</h1>
  <p>We love to get feedback from our users!</p>
  <span class="field">Bike Ready Team</span>
  <ul class="field">
    <li>Calvin Settachatgul: calvin.settachatgul@gmail.com</li>
    <li>Derek Tang: derekztang@gmail.com</li>
    <li>Hugh Sutton-Gee: @thereal_hugh</li>
    <li>Joyce De La Torre: joycedelatorre87@gmail.com</li>
  </ul>
  <img class="height width" src="/images/bikeready.jpg" alt="">
</div>
