<!-- bootstrap -->

<div class="jumbotron">
  <h2>Where would you like to have your bike delivered?</h2>

  <div class="">
    <h3 class="manage_bike">Enter a delivery address:</h3>
    <form action="/tasks" method="post">
      <input type="text" name="street" placeholder="street">
      <input type="text" name="city" placeholder="city"><br>
      <input type="text" name="state" placeholder="state">
      <input type="text" name="zip_code" placeholder="zip"><br><br>
      <input type="submit" value="submit">
    </form>
  </div>
</div>