// Place all the styles related to the request controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.debug { border: 1px solid red; }

.avatar {
  width: 50px;
  height: 50px;
}

.div-bg {
  background: #CC99FF;
}


