// Place all the styles related to the log_in controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//login page


//showpage

#title{
  width:100%;
}

#banner{
  width:300px;
  margin-left:auto;
  margin-right:auto;
  font-family:arial;
}

#user_name{
  color:green;
  font-family:arial;
  font-size:18px;
}

#body-container{
  width:100%;
  margin-left:20px;
  margin-right:20px;
}

.button{
 margin-left:50px;
}


.avatar {
  width: 50px;
  height: 50px;
  margin-top:20px;
  margin-left:30px;
}

.div-bg {
  background: #CC99FF;
}

h2{
  color:red;
}

.current_location{
  width: 400px;
  height: 400px;
  margin: 30px;
}