
<div class="form">
    <p>Register a bike</p>
      <form action="/bikes" method="post">
        <input type="text" name="Make" placeholder="Make">
        <input type="text" name="Name" placeholder="Name">
        <input type="text" name="Color" placeholder="Color"><br><br>
        <input type="submit" value="submit">
      </form>
  </div>