<div class="jumbotron">
<h1>About Us</h1>
<p>BikeReady is evolving the way the world moves. By seamlessly connecting bikers to their bikes through our apps, we make cities more accessible, opening up more possibilities for bikers and more business for the community. From our founding in 2009 to our launches in hundreds of cities today, BikeReady's rapidly expanding global presence continues to bring people and their cities closer.</p>
</div>
