// Place all the styles related to the log_in controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//login page


//showpage


//---------login bootstrap
 body {
  background: url(/assets/park_bike.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
  opacity: 0.9;
  margin-top:30px;
}

.form-group.last {
  margin-bottom:0px;
}

.br_title  {
  font-family: Bradley Hand, arial, SignPainter-HouseScript;
  font-size:68px;
  text-align:center;

}

//------------end login

.background {
  z-index: -1000;
  position:fixed;
  overflow: hidden;
  width:100%;
}

.title {
  width:100%;
}

.banner {
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  font-family:arial;
  font-size:60px;
  text-align:center;
}

.user_name {
  width:100%;
  font-family:arial;
  margin-top: 10px;
}

.body-container {
  width:100%;
  height:100%;
  padding-top:20px;
  margin-top:10px;
  background-color:rgba(255,255,255,0.7);
}

.form {
  width:100%;
  padding:10px;
}

.button {
 margin-left:50px;
}

.avatar {
  width: 70px;
  height: 70px;
  margin-left:30px;
}

#bike_status {
  font-family:arial;
  color: white;
}

.info {
  margin-left:100px;
}

html, body, #map-canvas {
  height: 500px;
  width: 100%;
}
//=======================================
.jumbotron {
    background: rgba(122, 130, 136, 0.7)!important;

    color: white;

}

p , .manage_bike{
  color: white;
}

h1, .manage_bike{
  color: white;
}

.panel-transparent {
  background: none;
}

.panel-transparent .panel-heading{
  background: rgba(122, 130, 136, 0.2)!important;
}

.panel-transparent .panel-body{
  background: rgba(46, 51, 56, 0.2)!important;
}


footer {

  height: 200px;
  color: white;

}

.field {

  color: white;

}

.sign-up{

  color: white;

}
