<h1>Manage your bike</h1>

<p><%= @user.first_name %></p>

<img class="avatar" src="http://www.sessionlogs.com/media/icons/defaultIcon.png">

<p>Bike Status:</p>
<div id="bike_status" class="div-bg"><%= @bike.status %></div><br>

<%= link_to 'Deliver Bike', request_deliver_conf_path %><br>
<%= link_to 'Pick-up Bike', request_pickup_conf_path %><br>

<% if @bike.status == 'pickup' || @bike.status =='pending'  %>
  <a href="#">Cancel Request</a>
<% end %> 

<div id='map-container'></div>